*{
    margin: 0;
    padding: 0;
}

.navbar{
    

    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    /* background-color: black; */
}

.logo{

    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 550px;
    margin-left: 50px;
}

.logo img{

    width: 60%;
    border: 5px solid white;
   border-radius: 5px;
   
    


}

.nav-list{
    
   display: flex;


}

.nav-list li{

    list-style: none;
    display: inline-block;
    margin: 17px 35px;
}

.nav-list li a{

    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.nav-list li a:hover{

    color: darkgray;
    
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/Bg.jpg');
    background-size:cover;
   background-blend-mode: darken;
} 

.firstsection{

    height: 80vh;
}

.box-main{

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    max-width: 80%;
    margin: auto;
   
}

.firsthalf{

    width: 37%;
    margin-top: 60px;
    
}

.name{

    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;

}

.profession{

    font-size: 30px;
    font-weight: 200;
   
}

.secondhalf img{

    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 90px;
    border: 5px solid white;
}

/* ------------------About------------------------ */

.secondsection{

    height: 70vh;
    padding: 85px 0;
    color: rgb(150, 148, 148)
   
    
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{

    flex-basis: 35%;
}

.about-col-1 img{

    width: 95%;
    height: 110%;
    border-radius: 20px;
    margin-left: 30px;
}

.about-col-2{

    flex-basis: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub-title{

    font-size: 50px;
    font-weight: 600;
    color: white;
}

.about-me{
    text-align: center;
    font-size: 15px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 55px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width:50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #d6215b;
    font-size: 18px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.download a button{

    margin-left: 30px;
    margin-top: 45px;
    width: 150px;
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #d6215b;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;


}


/* -----------------------------------------Skills---------------------------------------- */

.thirdsection{

    height: 50vh;
    padding: 90px 0;
    color: rgb(150, 148, 148)
   
    
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-col-1{

    flex-basis: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
}

.skill-links{
    margin-right: 55px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.skill-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.skill-links.active-skilllink::after{
    width:50%;
}

.skill-contents ul li{
    list-style: none;
    margin: 10px 0;
}



.skill-contents{
    display: none;
}

.skill-contents.active-skilltab{
    display: block;
}

.skill-col-2{

    flex-basis: 35%;
}

.skill-col-2 img{

    width: 75%;
    height: 80%;
    border-radius: 20px;
    margin-top: 20px;

}


/* ----------------------------------------Project---------------------------------------- */

.forthsection{

    height: 90vh;
    padding: 90px 0;
    color: rgb(150, 148, 148)
}

.project{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.pro-col-1{

    flex-basis: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
}

.pro-links{
    margin-right: 55px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.pro-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.pro-links.active-prolink::after{
    width:50%;
}

.pro-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.pro-contents ul li span{
    color: #d6215b;
    font-size: 18px;
}

.pro-contents{
    display: none;
}

.pro-contents.active-protab{
    display: block;
}

/* -----------------------------------Contact-------------------------------------- */


.fifthsection{

    height: 90vh;
    padding: 70px 0;
    color: rgb(150, 148, 148);
    
    
}

.contact-left{

    flex-basis: 35%;
    margin-left: 50px;
    
 
}

.contact-right{

    flex-basis: 60%;
}

.contact-left p{

    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
}

.submit{

    display: block;
    width: 110px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #d6215b;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.contact-right form{

    width: 100%;
}

form input, form textarea{

    width: 80%;
    border: 0;
    outline: none;
    background: #414040;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
    color: white;
   
}


